header.header
  .wrapper
    nav.navbar.navbar-expand-lg
      .container
        .logo-text
          a.navbar-brand(href="#") 
            img(class="menu-line__logo-img mb-2", src="img/logo.png", alt="Logo of Sea-Adventures") 
            b.fw-normal.ps-2 trips
        button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ms-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.text-uppercase(href="#") Головна
            li.nav-item
              a.nav-link.text-uppercase(href="#") Послуги
            li.nav-item
              a.nav-link.text-uppercase(href="#") Про компанію
            li.nav-item
              a.nav-link.text-uppercase(href="#") Акції
            li.nav-item
              a.nav-link.text-uppercase(href="#") Партнери
            li.nav-item
              a.nav-link.text-uppercase(href="#") Відгуки
            li.nav-item
              a.nav-link.text-uppercase(href="#") Контакти
    .section-content.text-center
      h1.h1.text-uppercase.position-relative Морські пригоди 
      p(class="header-p__top fw-normal")  Не важливо, чи Ваша мандрівка належить до елітного рівня чи до
      p(class="header-p__center fw-normal")  економваріанту, туроператор S trips потурбується, щоб Ви залишились
      p(class="header-p__last fw-normal") задоволеними!
      a(class="menu-line__button rounded-pill text-uppercase", href="#") Детальніше
    .bottom-section-content.text-center
      h2.plan.text-uppercase  обери свій план подорожі 
      p  Наша фірма -лідер на ринку у своїй сфері 
    a.arrow(href="#main").d-flex.justify-content-center.pb-3
      img(src="img/down.png", alt="#")

       