doctype html
html(lang="en")
    head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Морські пригоди вибери подорож і живи яскраво
    link(rel="stylesheet", href="css/styles.css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    body 
        include helpers/vars.pug
        include helpers/mixins.pug
        include helpers/sprite.pug
        include components/header.pug
        include components/main.pug
        include components/footer.pug
        script(src="js/scripts.js")